(mu:eq :func (mu:type-of mu:make-ns))	:t
(mu:intern :mu "foo" "foo")	mu:foo
(mu:boundp (mu:intern :mu "foo" ()))	mu:foo
(mu:untern :mu "foo")	mu:foo
(mu:boundp (mu:untern :mu "foo"))	:nil
(mu:make-ns :core)	:core
(mu:ns-find :mu "eq")	mu:eq
(mu:ns-find :mu "foo")	:nil
(mu:type-of (mu:ns-syms :mu))	:cons
