# perf '(mu:intern (mu:map-ns "mu") :extern "foo" "foo")'
# perf '(mu:unbound (mu:map-ns "mu") :extern "foo")'
# perf '(mu:make-ns "core" (mu:map-ns "mu"))'
# perf '(mu:map-ns "mu")'
# perf '(mu:map-ns (mu:ns-name (mu:make-ns "core" (mu:map-ns "mu"))))'
# perf '(mu:ns-imp (mu:make-ns "core" (mu:map-ns "mu")))'
# perf '(mu:ns-imp (mu:map-ns "mu"))'
# perf '(mu:ns-find (mu:map-ns "mu") :extern "eq")'
# perf '(mu:ns-find (mu:map-ns "mu") :extern "foo")'
# perf '(mu:ns-name (mu:map-ns "mu"))'
# perf '(mu:type-of (mu:ns-ext (mu:map-ns "mu")))'
